*{
    padding: 0;
    margin: 0;
}

#header
{
    background: #222327;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: fixed;
}

#footer1
{
    position: relative;
    bottom: 0;
    background: #222327;
    color: white;
    font-size: small;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
}

.footer1 img
{
    width: 15%;
    height: 15%;
}

.home
{
    background: url(logo_strana.png);
    background-size: 100% 100%;
    height: 120vh;
    position: relative;
    text-align: center;
}

.greeting
{
    position: absolute;
    top: 12.5%;
    left: 30%;
    transform: translate(-12.5%, -30%);
    font-size: 55px;
    text-transform: none;
    margin-bottom: 20px;
}


.navbar
{
    height: 80px;
    width: 100%;
    background: rgba(10, 0, 0, 0.4);
}

.navbar ul
{
    float: right;
    margin-right: 20px;   
}

.navbar ul li
{
   list-style: none;
   margin: 0 8px; 
   display: inline-block;
   line-height: 80px;
}

.navbar ul li a
{
    text-decoration: solid;
    color: seagreen;
    font-size: 20px;
    padding: 6px 13px;
    transition: .4s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    display: block;
    transition-duration: 0.5s;
   }
   
li:hover {
     cursor: pointer;
   }
   
ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 90%;
     display: ruby-base-container;
   }
   
ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
ul li ul li {
     clear: both;
     width: 100%;
   }

.navbar ul li a:hover
{
    background:violet;
    border-radius: 2px;

}

.about
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);

}

.about img
{
   width: 50%;
   height: auto;
   margin-left: 5%;
   padding-right: 50px;
   border: none;
}

.about_txt
{
    width: 550px;
}

.main
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_txt h1
{
    color: rgb(3, 15, 8);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about_txt h3
{
    color:rgb(3, 15, 8);
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
}

.about_txt h4
{
    color: rgb(3, 15, 8);
    font-size: 20px;
    text-transform: none;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
}

.about_txt p
{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45;
}

.gallery
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);
    justify-content: center;


}

.gallery h1
{
    color: rgb(3, 15, 8);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.gallery h3
{
    text-align: center;
    font-size: 35px;
    text-align: center;
    color: rgb(3,15,8);
}

.gallery img
{
    width: 210px;
    padding: 10px;
    transition: 1s;
    justify-content: center;
}

.gallery img:hover
{
    transform: scale(1.055);
}

.gallery figure
{
    justify-content: center;
    padding-left: 45%;
}

.gallery figcaption
{
    padding-left: 45%;
}

.card
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.card h1
{
    color: rgb(3, 15, 8);
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.card h3
{
    color: rgb(3, 15, 8);
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 0.5%;
}

.card h5
{
    color: rgb(3, 15, 8);
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 0.5%;
}

.card p
{
    color: rgb(3, 15, 8);
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 0.5%;
}


.card .text-box
{
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
}

.card textarea
{
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: 60%;
    height: 150px;
    padding: 12px 15px;
    margin: 1%;
    border-radius: 8px ;
    box-sizing: border-box;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    resize: both;
}

.card .post-btn
{
    background: rgba(10, 0, 0, 0.4);
    margin: 20px;
    padding: 9px 25px;
    color: seagreen;
    border: none;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    transition-property: background;
}

.card .post-btn:hover
{
    background:violet;
    border-radius: 2px;
}

.card p
{
    margin: 0.5%;

}

.feedback
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);

}

.contact-section
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);
}
.contact h1
{
    color: rgb(3, 15, 8);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.contact h3
{
    color: rgb(3, 15, 8);
    font-size: 55px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
    text-align: center;
}
.contact h4
{
    color: rgb(3, 15, 8);
    font-size: 30px;
    text-transform: none;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
    text-align: center;
}

.contact
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);
}

.contact-info
{
    color: #fcfcfc;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i
{
    margin-right: 20px;
    font-size: 25px;

}

.contact-info a
{
    color: #fcfcfc;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-form button
{

}

.social-media 
{
    color: #fcfcfc;
    max-width: 500px;
    line-height: 65px;
    padding-right: 50px;
    font-size: 18px;
}

.social-media i
{
    margin-left: 20px;
    font-size: 25px;
    color: #fcfcfc;
}

.social-media a
{
    color: #fcfcfc;
    max-width: 500px;
    line-height: 65px;
    padding-right: 50px;
    font-size: 18px;
}

.contact-form
{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form
{
    flex: 1;
}

.contact-form .text-box
{
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child
{
    margin-right: 15px;
}

.contact-form textarea
{
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15 px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form button
{
    float: right;
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    transition-property: background;
}

.contact-form button:hover
{
    background:violet;
    border-radius: 2px;
}

.feedback
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);
}

.feedback h1
{
    color: rgb(3, 15, 8);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.feedback h3
{
    color:rgb(3, 15, 8);
    font-size: 55px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
    text-align: center;
}

.feedback p
{
    color: #fcfcfc;
    font-size: 30px;
    text-transform: none;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
    text-align: left;
}

.feedback-comment
{
    max-width: 700px;
    margin-right: 50px;
}

.feedback, .feedback-comment
{
    flex: 1;
}

.feedback-comment .text-box
{
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.feedback-comment .text-box:first-child
{
    margin-right: 15px;
}

.feedback-comment textarea
{
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15 px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    align-self: center;
}

.feedback-comment button
{
    float: right;
    background: rgba(10, 0, 0, 0.4);
    color: seagreen;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    transition-property: background;
}

.feedback-comment button:hover
{
    background:violet;
    border-radius: 2px;
}

.music
{
    width: 100%;
    padding: 78px 0px;
    background-color: rgba(104, 143, 194, 255);

}

.music h1
{
    color: rgb(3, 15, 8);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.music h3
{
    color:rgb(3, 15, 8);
    font-size: 55px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-style: initial;
    text-align: center;
}

.films
{
    width: 100%;
    padding: 80px 0 60px 0;
    background-color: rgba(104, 143, 194, 255);

}

.films h1
{
    color: rgb(3, 15, 8);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.films img
{
    width: 210px;
    padding: 10px;
    align-self: center;
    text-align: center;
    right: 50%;
}

.films figure
{
    align-self: center;
    padding-left: 45%;
}

.films figcaption
{
    padding-left: 45%;
}




